<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3>PARA ver de manera correcta las respuestas instalar el siguiente complemento de Google Chrome</h3>
    <a href="https://chrome.google.com/webstore/detail/json-formatter/bcjindcccaagfpapjjmafapmmgkkhgoa?hl=en"
        target="_blank">COMPLEMENTO PARA RESPUESTAS JSON</a>
    <p>Elija uno de los dos metodos. Deben pegar un texto en el input y apretar el botón.</p>
    <p>Se debolverá el texto y las palabras claves detectadas</p>
    <p>Son dos metodos diferentes de extraer palabras claves

        <!-- <a href="https://tiempoar-supervised-learning.herokuapp.com/api/keywords">Method 1</a>
        <a href="https://tiempoar-supervised-learning.herokuapp.com/api/textrank">Method 2</a> -->
        <a href="http://localhost:5000/api/keywords">Method 1</a>
        <a href="http://localhost:5000/api/textrank">Method 2</a>
</body>

</html>